<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Daftar Member</title>
</head>
<body>

    <h2>Form Pendaftaran Member</h2>

    <p style="color: red;" th:if="${error}" th:text="${error}"></p>

    <form th:action="@{/register}" th:object="${member}" method="post">

        <label>Nama:</label><br>
        <input type="text" th:field="*{name}" required><br><br>

        <label>Email:</label><br>
        <input type="email" th:field="*{email}" required><br><br>

        <label>No HP:</label><br>
        <input type="text" th:field="*{phone}"><br><br>

        <label>Password:</label><br>
        <input type="password" th:field="*{password}" required><br><br>

        <button type="submit">Daftar</button>

    </form>

    <p>Sudah punya akun? <a th:href="@{/login}">Login di sini</a></p>

</body>
</html>